<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-database.js"></script> 
    <!-- <script src = "https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script> -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Margarine' rel='stylesheet'>

    <title>Document</title>
</head>
<body>
    
      

      <div class = "chat">
        <div class = "chat-window" id = "chat-window">
          <ul id = "messages">
            <li class="msg">
              
            </li>
          </ul>
          <form id = "messageForm" autocomplete="off">
            <input type = "text" id = "msg-input" placeholder="Enter a message">
            <button id = "msg-btn" type = "submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    
</body>
<script src = "chat.js" defer></script>
</html>