<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script> 
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-database.js"></script> 

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="chat2.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    const userId = "<%= username %>"
    console.log("hello"+userId)
 
  </script>
  <title>Chat</title>
</head>

<div id="joinRoom" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Join Room </h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form id = "join-room">
                <div class = "form-group">
                  <div class="form-group">
                    <label for="roomname" class="col-form-label">Room Name</label>
                    <input type="text" id = "join-room-name" class="form-control" placeholder = "Room name">
                    <label for="roomid" class="col-form-label">Room id</label>
                    <input type="text" id = "join-room-id" class="form-control" placeholder = "Room id">
                  </div>
                </div>
                  <div class="form-row">
                      <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary btn-sm ml-1" id = 'join-room-btn'>Join</button>        
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div id="createRoom" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Create Room </h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form id = "create-room">
                <div class = "form-group">
                  <div class="form-group">
                    <label for="roomid" class="col-form-label">Room Name</label>
                    <input type="text" id = "create-room-id" class="form-control" placeholder = "Room id">
                  </div>
                </div>
                  <div class="form-row">
                      <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary btn-sm ml-1" id = 'create-room-btn'>Create</button>        
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


<body onload = "addrooms()">
  <div class="chat-container">
    <header class="chat-header">
      <h3><i class="fas fa-comments"></i></h3>
      <form id = 'logout-form' action = '/login'>
        <button id = "logout-btn" type = "submit" class = 'btn'><i class="fas fa-sign-out-alt"></i></button>
      </form>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h4> Rooms: 
          <a class="btn" data-toggle="modal" data-target="#createRoom" role="button"><i class="fas fa-plus"></i></a>
          <a class="btn" data-toggle="modal" data-target="#joinRoom" role="button"><i class="fas fa-user-plus"></i></a>
        </h4>
        <ul id="rooms">
          

           <!-- <li><div onclick="startcall()" class="room_button"></div>
            <span><h4>RoomName</h4></span>
            <hr>  --> 
         

          
        </ul>
      </div>
      <div class="chat-messages" id = "chat-messages">
				
      </div>
    </main>
    <div class="chat-form-container">
        <form id="messageForm">
          <a style = "visibility:hidden" href = "/join" id = 'join' class = "btn">start call</a>
          <a  style = "visibility:hidden" href = "/room" id = 'room' class = "btn">join call</a>
          <input
            id="msg-input"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          />
          <button class="send-btn" id = "msg-btn" type = "submit"><i class="fas fa-paper-plane"></i></button>
        </form>
    </div>

  </div>


  
  <script src="chat.js"></script>
  <script>
    document.getElementById('join').addEventListener('click',join)
    function join(e){
      if(sessionStorage.getItem('curernt_roomid')===null)
      {
        console.log('room not selected')
      }
    }
  </script>
  

</body>
</html>




























