<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script> 
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-database.js"></script> 

    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src = "/socket.io/socket.io.js" ></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <link href="index.css" rel="stylesheet">
    <script>
      let userId = '<%=username %>'
   </script>
    
    
    
   
    <title>Document</title>
</head>

<body>
    <div class="main">
        
        <div class="main__left">
           <div class="main__videos">
              <div id="video-grid">
                <video  class = "video" muted id = "local-stream" autoplay></video>
                <video  class = "video" id = "remote-stream" autoplay></video>
        
              </div>
           </div>
           <div class="main__controls">
              <div class="main__controls__block">
               <div onclick="joincall()" class="main__controls__button">
                  <i class="fas fa-phone-alt"></i>
                  <span>Call</span>
               </div>
                 <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
                    <i class="fas fa-microphone"></i>
                    <span>Mute</span>
                 </div>
                 <div onclick="playStop()" class="main__controls__button main__video_button" >
                    <i class="fas fa-video"></i>
                    <span>Stop Video</span>
                 </div>
              </div>
              
              <div class="main__controls__block">
                 <div onclick = "leave_meeting()" class="main__controls__button">
                    <a href = '/chat' class="leave_meeting">Leave Meeting</a>
                 </div>
              </div>
           </div>
        </div>
        <div class="main__right">
           <div class="main__header">
              <h6>Chat</h6>
           </div>
           <div class="main__chat_window">
              <ul class="messages">
                 
              </ul>
  
           </div>
           <div class="main__message_container">
              <input id="chat_message" type="text" placeholder="Type message here...">
           </div>
        </div>
     </div>






    
    
    
    
    
    
   
</body>

<script language="javascript" src="js/bootstrap.min.js"></script>
<script src = "main.js" defer></script>

</html>


























<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src = "/socket.io/socket.io.js" ></script>
    
    
    
    
    <title>Document</title>
</head>

<body>
    <button onclick = "joincall()">join call</button>

    
    <div>
    <video muted id = "local-stream" autoplay></video>
    <video id = "remote-stream" autoplay></video>
    </div>
    
</body>

<script language="javascript" src="js/bootstrap.min.js"></script>
<script src = "main.js" defer></script>

</html> -->